extends ../layout.pug
block othercss
    link(rel='stylesheet', href='/stylesheets/business/admin.css')
block content
    div(style="text-align:right;margin-bottom:15px;")
        span 当前用户 #{adminName} &nbsp;&nbsp;&nbsp;&nbsp;
        a(href="/admin/logout") 登出
    div(id="worksarea" v-bind:style="{height: calcHeight + 'px'}" class="div-border")
        el-container(v-bind:style="{height: containerHeight + 'px'}")
            el-aside(v-bind:style="{height: asideHeight + 'px'}")
                el-menu(:default-openeds="['1','2']" v-bind:style="{height: asideHeight + 'px'}" collapse=false)
                    el-submenu(index="1")
                        template(slot="title")
                            i(class="el-icon-menu")
                            span 数据一览
                        el-menu-item-group
                            el-menu-item(index="1-1" @click="gofunc(0)") 进件明细
                            el-menu-item(index="1-2" @click="gofunc(1)") 短信发送
                    el-submenu(index="2")
                        template(slot="title")
                            i(class="el-icon-setting")
                            span 系统设置
                        el-menu-item-group
                            el-menu-item(index="2-2" @click="gofunc(2)") 用户管理
                            el-menu-item(index="2-3" @click="gofunc(3)") 重置密码
            el-main(v-bind:style="{height: mainHeight + 'px'}")
                el-tabs(v-model="activeTabIndex" type="card" closable=true @tab-remove="tabRemoved")
                    el-tab-pane(label="进件明细" name="0")
                        <!--如果不绑定value-format，那么这个控件默认输出的是Date对象-->
                        el-date-picker(align="right" type="date" placeholder="选择开始日期" class="datepicker" v-model="requestBeginDate" value-format="yyyy-MM-dd")
                        el-date-picker(align="right" type="date" placeholder="选择结束日期" class="datepicker" v-model="requestEndDate" value-format="yyyy-MM-dd")
                        el-button(icon="el-icon-search" @click="qryWithCondition()") 查询
                        el-button(icon="el-icon-delete" @click="clearSearchConditions()") 清除查询条件
                        el-table(border style="width:100%" :data="reqDataSet")
                            el-table-column(label="请求编号" width="180" class="column-title" prop="req_id")
                            el-table-column(label="请求时间" width="180" class="column-title" prop="req_time")
                            el-table-column(label="报文信息" prop="raw_msg")
                            el-table-column(label="应答结果" width="180" class="column-title" prop="rs_status")
                        el-pagination(:current-page="currentPage" :page-size="pageSize" layout="total, prev, pager, next, jumper" :total="totalCount" class="rqpagination" @current-change="goPage")
                    el-tab-pane(label="短信发送" name="1") 老板你需要什么样的报表啊
                    el-tab-pane(label="用户管理" name="2")
                        span 目前手工插入后台管理用户也是可以的啊
                    el-tab-pane(label="重置密码" name="3")
                        el-row(class="rowclaz")
                            el-col(:span="24")
                                el-input(v-model="oldPwd",placeholder="请输入原始密码",show-password,style="width:300px;margin-left:15px;",type="input")
                                    template(slot="prepend") 旧的密码
                        el-row(class="rowclaz")
                            el-col(:span="24")
                                el-input(v-model="newPwd",placeholder="请输入新密码",show-password,style="width:300px;margin-left:15px;",type="input")
                                    template(slot="prepend") 新的密码
                        el-row(class="rowclaz")
                            el-col(:span="24")
                                el-input(v-model="newPwdAffirm",placeholder="请再次输入新密码",show-password,style="width:300px;margin-left:15px;",type="input")
                                    template(slot="prepend") 确认密码
                        el-row
                            el-col(:span="24")
                                el-button(@click="goResetPwd" style="margin-left:130px;") 确定
    script(src="/javascripts/business/admin.js")