el-tab-pane(label="推广明细" name="1")
    el-date-picker(align="right" type="date" placeholder="选择开始日期" class="datepicker" v-model="smsBeginDate" value-format="yyyy-MM-dd")
    el-date-picker(align="right" type="date" placeholder="选择结束日期" class="datepicker" v-model="smsEndDate" value-format="yyyy-MM-dd")
    el-button(icon="el-icon-search" @click="qryWithCondition('sms')") 查询
    el-button(icon="el-icon-delete" @click="clearSearchConditions('sms')") 清除查询条件
    el-table(border style="width:100%" :data="smsDataSet")
        el-table-column(label="短信编号" width="180" class="column-title" prop="req_id")
        el-table-column(label="发送时间" width="180" class="column-title" prop="req_time")
        el-table-column(label="报文信息" prop="raw_msg")
        el-table-column(label="下行状态" width="180" class="column-title" prop="rs_stat")
    el-pagination(:current-page="smsCurrentPage" :page-size="smsPageSize" layout="total, prev, pager, next, jumper" :total="smsTotalCount" class="rqpagination" @current-change="goSmsPage")