el-tab-pane(label="验证码明细" name="2")
    el-input(type="input" placeholder="请输入要查询的手机号码" maxlength=11 style="width:210px" v-model="vcodeMobile")
    el-date-picker(align="right" type="date" placeholder="选择开始日期" class="datepicker" v-model="vcodeBeginDate" value-format="yyyy-MM-dd")
    el-date-picker(align="right" type="date" placeholder="选择结束日期" class="datepicker" v-model="vcodeEndDate" value-format="yyyy-MM-dd")
    el-button(icon="el-icon-search" @click="qryWithCondition('vcode')") 查询
    el-button(icon="el-icon-delete" @click="clearSearchConditions('vcode')") 清除查询条件
    el-table(border style="width:100%" :data="vcodeDataSet")
        el-table-column(label="短信编号" width="180" class="column-title" prop="mid")
        el-table-column(label="手机号"   width="180" class="column-title" prop="mobile")
        el-table-column(label="发送时间" width="180" class="column-title" prop="req_time")
        el-table-column(label="发送内容" prop="raw_msg")
        el-table-column(label="下行状态" width="180" class="column-title" prop="rs_stat")
    el-pagination(:current-page="vcodeCurrentPage" :page-size="vcodePageSize" layout="total, prev, pager, next, jumper" :total="vcodeTotalCount" class="rqpagination" @current-change="goVcodePage")