doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/javascripts/element-ui/2.8.2/lib/theme-chalk/index.css')
    block othercss
    script(src="/javascripts/vue/2.6.10/vue.js")
    script(src="/javascripts/axios/axios.min.js")
    script(src="/javascripts/element-ui/2.8.2/lib/index.js")
    block ohterjs
  body
    block content
